spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: 
              - "http://localhost:3000"
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true

server:
  port: ${SERVER_PORT:8080}

security:
  jwt:
    issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8089/realms/creatoros}
    jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://keycloak:8080/realms/creatoros/protocol/openid-connect/certs}

logging:
  level:
    root: ${LOG_LEVEL:INFO}
    com.creatoros: DEBUG
    org.springframework.cloud.gateway: DEBUG
